body {
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 7px;
}

#titulo {
  display: grid;
  justify-content: center;
  color: aliceblue;
  background-image: url(https://img2.wallspic.com/crops/3/5/4/0/5/150453/150453-azul-rojo-area_urbana-luz-urbe-3970x4962.jpg);
  background-position: center;
  background-size: contain;
  background-size: cover;
}
#subtitulo {
  display: grid;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: aliceblue;
}

.contenedorInicio {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  margin: 5px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
.bienvenido {
  border: 2px solid gold;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: center;
}

.arteDos {
  display: flex;
  width: 600px;
  height: 475px;
  margin-top: 15px;
}

.foto {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.foto:hover {
  cursor: auto;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.arteTres {
  border: 2px solid gold;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: center;
}

/* pagina Art */
.card {
  margin-top: 18px;
  background-color: #757373;
}

.card-title {
  font-weight: bold;
}
.card-text {
  font-family: fantasy;
  font-size: 20px;
  color: rgb(20, 20, 20);
}
#goku {
  margin-top: 8px;
  margin-left: 20px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#vegeta {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#gohan {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#uzumaki {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#sasuke {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}
#madara {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#luffy {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#zoro {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#asce {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#tanjiro {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#zenitsu {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

#rengoku {
  margin-top: 8px;
  margin-left: 25px;
  height: 270px;
  width: 245px;
  border: 4px solid rgb(13, 85, 77);
  opacity: 0.8;
  filter: contrast(120%);
}

footer {
  margin-top: 50px;
  margin-left: 5px;
  margin-bottom: 25px;
}
.car {
  height: 25px;
}

#carrito:hover {
  height: 40px;
  border: 3px solid rgb(13, 85, 77);
}

footer {
  margin-left: 10px;
}
.form-label {
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 10px;
  margin-left: 10px;
}

.form-control {
  margin-left: 10px;
  border: 4px solid rgb(2, 116, 102);
  width: 350px;
}

#add:hover {
  height: 40px;
  background-color: rgb(2, 116, 102);
  border: 1px solid whitesmoke;
  font-weight: bold;
}

#add {
  background-color: rgb(40, 39, 39);
  border: 1px solid whitesmoke;
}

#enviar:hover {
height: 60px;
width: 125px;
background-color:rgb(2, 116, 102);
border: 2px solid white
  
}


#enviar {
  background-color: black;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  border: 2px solid rgb(2, 116, 102) ;
}
